.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    text-align: center;
}
.hero-container h1 {
    color: white;
    font-size: 2.5rem;
}
.hero-container h2 {
    color: #a0a0a0;
    font-size: 1.5rem;
}
.hero-container h3 {
    color: #898888;
    font-size: 1.35rem;
}
.get-started-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.3rem;
    color: white;
    background: linear-gradient(90deg, #7c3aed, #a78bfa);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}
@media (min-width: 320px) {
  .hero-container {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .hero-container {
    padding: 2rem;
  }
}