.layout {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  
  /* 🌌 GLOBAL BACKGROUND */
  background: radial-gradient(
    circle at top,
    #1a1a22,
    #0f0f12 70%
  );

  color: white;
}
.layout-container {
  min-height: 100vh;          /* FULL screen height */
  display: flex;
  flex-direction: column;
  background-color: #0f0f12;  /* dark background for whole app */
}

